body {
  background: #313f49;
  width: 100%;
}

.project-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-item {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 0 3px red;
  margin-bottom: 45px;
}

.main-title {
  text-align: center;
}

@media (max-width: 650px) {
  main {
    width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 651px) and (max-width: 999px) {
  main {
    width: 650px;
    margin: 0 auto;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
  }

  .project-item:nth-child(2n) {
    margin-left: 50px;
  }
}

@media (min-width: 1000px) {
  /* main {
    width: 650px;
    margin: 0 auto;
  } */

  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}